h1 {
  font-size: 50px;
  font-style: oblique;
  font-family: Impact, Charcoal, sans-serif;
  background: -webkit-linear-gradient(blue, grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-decoration: underline;
}

body {
  font-size: 20px;
  background-color: #6DB3F2;
  background-image: url("http://www.luxurylink.com/images/article/xTopChef-03-Stefan.jpg.pagespeed.ic.7_pPo1lFTS.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  font-size: 20px;
}
