<!DOCtype html>
<html>

  <head>

    <title>Add A New Recipe</title>
    <style src="https://code.jquery.com/jquery-1.10.2.min.css"></style>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/stylesheets/new_recipe.css" />
    <script type ="text/javascript" src="/script/new_recipe.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="new_recipe.js"></script>
  </head>

    <body>
      <div>
    <!-- <h1> Recipedia </h1> -->
    <h1> Recipe Entry </h1>
        <form action="results" name="form_1" method="POST">
          <p><strong>Author's Name:</strong><br><input type="text" name="author"/></p>
          <p><strong>Recipe Name:</strong><br><input type="text" name="name"/></p>

          <!-- Drop down level of difficulty -->
          <p><strong>Level of Difficulty:</strong><br>
              <select name= "level">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
          </p>
          <div id="div2">
          <p><strong id="p1">Ingredients:</strong><br>
                <br><input type="checkbox" name="ingredient" value="Beef">Beef<br>
                <input type="checkbox" name="ingredient" value="Chicken">Chicken<br>

          </p>
          <p id="addI"><strong>Add Ingredients:</strong><br></p>
          <a id="ad" class="ingredient" onclick="myFunction()">Add Ingredients</a>
          <input id="textinput" />
          <script>
          var new_ing = "";

          function myFunction() {
              var node = document.createElement("INPUT");
              node.type="checkbox";
              var textnode = document.createTextNode(document.getElementById("textinput").value);

              document.getElementById("addI").appendChild(node);
              document.getElementById("addI").appendChild(textnode);
              var br = document.createElement("br");
              document.getElementById("addI").appendChild(br);
              new_ing +=document.getElementById("textinput").value+"\t";
              //document.write("\n");
            node.name="ingredient";
            node.value=document.getElementById("textinput").value;
            new_ing += document.getElementById("textinput").value + ", ";
              }
          </script>
        </div>

          <p><strong>Time:</strong><br><input type="text" name="time"> </p>
          <p><strong>Steps:</strong><br><textarea name="steps"></textarea></p>
          <p><strong>Notes:</strong><br><textarea name="notes" placeholder ="i.e. Kraft mozzarella cheese"></textarea></p>
          <input type="submit" class="" action="submit" />
          <!-- <button type="button" value="Submit">Submit</button> -->
        </form>
        <a href="/"><input type="button" name="button" value="Back to Home Page"></a>
        <!-- <img src="http://www.fitbrains.com/blog/wp-content/uploads/2013/09/2ahi2c3.gif" alt="Recipes" style="width:304px;height:228px;"> -->
      </div>
    </body>
    <!-- <img id="img3" src="http://www.fitbrains.com/blog/wp-content/uploads/2013/09/2ahi2c3.gif" alt="Recipes Image"></img> -->
    <!-- <p id="img2"><img src="http://www.greedyroadcafe.com/wp-content/uploads/dessin-anim%C3%A9-d-un-cuisinier-dans-la-cuisine-22282981.jpg" alt="cartoon"></img></p> -->
  </body>
</html>
