<!DOCtype html>
<html>

  <head>

    <title>Add A New Recipe</title>
    <style src="https://code.jquery.com/jquery-1.10.2.min.css"></style>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- <link rel="stylesheet" href="bootstrap-3.3.7 dist 2/css"> -->

    <link type="text/css" rel="stylesheet" href="/stylesheets/new_recipe.css" />
    <script type ="text/javascript" src="/script/new_recipe.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script>
    <script src="new_recipe.js"></script>
  </head>

  <center>
    <body>
    <h1> Recipedia </h1>
    <h1> Recipe Entry </h1>
        <form method=POST action="results" name="form_1">
          <p><strong>Author's Name:</strong><br><input type="text" name="author"/></p>
          <p><strong>Recipe Name:</strong><br><input type="text" name="name"/></p>

          <!-- Drop down level of difficulty -->
          <p><strong>Level of Difficulty:</strong><br>
              <select name= "level">
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
          </p>

          <p><strong>Ingredients:</strong><br>
                <br><input type="checkbox" name="ingredient" value="Beef">Beef<br>
                <input type="checkbox" name="ingredient" value="Chicken">Chicken<br>

          </p>
          <p id="addI"><strong>Add Ingredients:</strong><br></p>

          </p>
          <button onclick="myFunction()">Add Ingredients</button>
          <input id="textinput" />
          <script>
          function myFunction() {
              var node = document.createElement("INPUT");
              node.type="checkbox"
              var textnode = document.createTextNode("textbox");

              document.getElementById("addI").appendChild(node);
              document.getElementById("addI").appendChild(textnode);
              var br = document.createElement("br");
              document.getElementById("p").appendChild(br);

              //document.write("\n");

              }
          </script>


          <p><strong>Time:</strong><br><input type="text" name="time"> </p>
          <p><strong>Steps:</strong><br><textarea name="steps"></textarea></p>
          <p><strong>Notes:</strong><br><textarea name="notes" placeholder ="i.e. Kraft mozzarella cheese"></textarea></p>
          <input type="submit" onclick="display_alert(event)" />
          <!-- <button type="button" value="Submit">Submit</button> -->
        </form>
        <a href="/"><input type="button" name="button" value="Back to Home Page"></a>

    </body>
  </center>
</html>
