<!DOCTYPE html>

<html>

  <head>
    <title>Search</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/search.css" />
    <script type ="text/javascript" src="/script/search.js"></script>
  </head>

<center>
  <body>
    <h1>Search</h1>
    <form>
      <p><strong>Level of Difficulty:</strong><br>
          <select name= "level">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
      </p>

      <p><strong>Ingredients:</strong><br>
            <form action="">
            <br><input type="checkbox" name="ingredient" value="Beef">Beef<br>
            <input type="checkbox" name="ingredient" value="Chicken">Chicken<br>
            </form>
      </p>
      <button type="button" value="Submit">Submit</button>
    </form>

  </body>
</center>

</html>
